.cont{
    margin: 20px 0 20px 0;
    width: 100%;
    display: flex;
}
.link{
    color: rgb(68, 67, 67);
    font-weight: 800;
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}